div h2 {
    color: white;
    font-size: 20px;
    margin: 20px;
}

div p {
    color: white;
    font-size: 20px;
    margin: 20px;
}

button {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    color:white;
    background-color: rgb(31, 26, 26);
}